[submodule "external/datacapy"]
	path = external/datacapy
	url = https://github.com/datacapy/datacapy.git
[submodule "external/s3-adaptor"]
	path = external/s3-adaptor
	url = https://github.com/kevin-foster-uk/s3-adaptor.git
